* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: "poppins", sans-serif;
  background: #0c002b;
  background-color: hsl(27, 71%, 66%);
}
#upload-Btn {
  background-image: url("icons8-upload-100.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 30px;
  background-size: 80px 80px;
  padding: 30px 60px;
  color: #1670f0;
  letter-spacing: 13px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(197, 11, 11, 0.5);
}

#upload-Btn:hover {
  background-color: #2980b9;
  color: whitesmoke;
  font-smooth: auto;
  transform: scale(0.9);
  transition-delay: 50ms;
}

#upload-text {
  letter-spacing: 8px;
  color: #1670f0;
  font-family: "poppins", sans-serif;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}

#subBtn {
  background-image: url(icons8-submit-progress-48.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 30px 60px;
  color: #1670f0;
  letter-spacing: 2px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(197, 11, 11, 0.5);
  letter-spacing: 10px;
}
#subBtn:hover {
  font-smooth: auto;
  transform: scale(0.9);
  transition-delay: 50ms;
  background-color: #2980b9;
  color: whitesmoke;
}
