<html>
  <link rel="stylesheet" type="text/css" href="./static/css/btn.css" />
  <body>
    <form
      action="{{ url_for('upload_file') }}"
      method="POST"
      enctype="multipart/form-data"
    >
      <!-- <h1 class="heading">Please choose a excel file</h1> -->
      <input type="file" id="main-file" name="file" hidden="hidden" />
      <center>
        <button type="button" id="upload-Btn">Choose File</button>
        <br /><br />
      </center>
      <span id="upload-text">No file chosen </span>
      <br /><br /><br /><br />
      <center><button type="submit" id="subBtn">Submit</button></center>
      <script src="./static/js/app.js"></script>
      <!-- <input type = "file" name = "file" />
         <input type = "submit"/> -->
    </form>
  </body>
</html>
